*.svn-base
all-wcprops
*.v1_indexcache
Python/.metadata
*.prefs
*.zip
*.tsv


# Default for Rails apps
# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
Patents/.idea
Java/TryGuava/.idea
*.iml
*.xlsx
Java/Minco_XL/.idea
*.xlsm
*.csv
*.ini
*.dat
*.xmi
Educational/C/CtHW/.metadata
*.swp
Educational/Python/.metadata
Educational/Python/CodingPractice/.idea
Educational/Java/CodingPractice/.idea
a.out
Educational/Django/tutorial/env
database.sql
StuffIWrote/Python/MincoCommandLine/.idea
*.sublime-workspace
*.sublime-project
*.xcbkptlist
StuffIWrote/Python/GrammarBrain/GrammarBrain/pickles
*.p
StuffIWrote/Python/GrammarBrain/GrammarBrain/wiki_data/wiki_pickles
StuffIWrote/Python/GrammarBrain/GrammarBrain/brown_data/experiment_results/First Real Experiment
StuffIWrote/Python/rbm/.idea
application.conf
Educational/Scala/GDataWithAkka/project/project/target
Educational/Scala/GDataWithAkka/project/target
Educational/Scala/GDataWithAkka/target/resolution-cache
Educational/Scala/GDataWithAkka/target
#SICP.rkt#1#
*.rkt#1#
*.rkt#2#
.name
Educational/Scala/AkkaTrials/project
Educational/Scala/AkkaTrials/target
