# Default for Rails apps
# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# filetypes to ignore
*.svn-base
*.v1_indexcache
*.prefs
*.zip
*.tsv
*.iml
*.xlsx
*.xlsm
*.csv
*.ini
*.dat
*.xmi
*.swp
*.sublime-workspace
*.sublime-project
*.xcbkptlist
*.rkt#1#
*.rkt#2#
*.p
*.pdf
*submitWeb.m
*submit.m
*.swo
*.swn

# files and directories I happen to be ignoring for convenience
Patents/.idea
Java/TryGuava/.idea
Java/Minco_XL/.idea
Educational/C/CtHW/.metadata
Educational/Python/.metadata
Educational/Python/CodingPractice/.idea
Educational/Java/CodingPractice/.idea
a.out
Educational/Django/tutorial/env
database.sql
StuffIWrote/Python/GrammarBrain/GrammarBrain/pickles
StuffIWrote/Python/GrammarBrain/GrammarBrain/wiki_data/wiki_pickles
StuffIWrote/Python/GrammarBrain/GrammarBrain/brown_data/experiment_results/First Real Experiment
application.conf
.name
.classpath
.idea
all-wcprops
Python/.metadata
target
project
.Rhistory
linuxwords.txt
Educational/R/Coursera/Getting and Cleaning Data/Week 1/data
StuffIWrote/Python/pathfinder/pathfinder2/test/structure
recall.db
data.json
ml_login_data.mat
Educational/Web&JS/d3 Category Breakdown Chart/data2.json
Educational/Web&JS/d3 Category Breakdown Chart/data3.json
ex5.pdf
Educational/Matlab/Coursera/Machine Learning/mlclass-ex5-006/mlclass-ex5/ex5data1.mat
Educational/Matlab/Coursera/Machine Learning/mlclass-ex5-006/mlclass-ex5/submit.m
Educational/Matlab/Coursera/Machine Learning/mlclass-ex5-006/mlclass-ex5/submitWeb.m
octave-workspace
Educational/Matlab/Coursera/Machine Learning/mlclass-ex7-006/mlclass-ex7/computed after initial finding of closest centroids: n')
Educational/Matlab/Coursera/Machine Learning/mlclass-ex7-006/mlclass-ex7/should ben');
server.js
StuffIWrote/NodeJS/CoffeeScript/TextProc/node_modules
npm-debug.log
Educational/C++/HelloWorld/HelloWorld.xcodeproj/project.pbxproj
Educational/C++/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Educational/C++/HelloWorld/HelloWorld.xcodeproj/project.xcworkspace/xcshareddata/HelloWorld.xccheckout
Educational/C++/HelloWorld/HelloWorld.xcodeproj/xcuserdata/Ethan.xcuserdatad/xcschemes/HelloWorld.xcscheme
Educational/C++/HelloWorld/HelloWorld.xcodeproj/xcuserdata/Ethan.xcuserdatad/xcschemes/xcschememanagement.plist
HelloWorld.1
Educational/C++/Scheduling/single
Educational/C++/Scheduling/multi
multi_plus
aff_multi
locate
cgrp_multi
fair_multi
