*.svn-base
all-wcprops
*.v1_indexcache
Python/.metadata
*.prefs
*.zip
*.tsv


# Default for Rails apps
# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp