@(video: Video)(implicit flash: play.api.mvc.Flash)

@main(video.title) {
    <h2>
        @* doesn't *need* to be called a 'tag', but that's the Java convention *@
        @tags.embeddedVideo(video.urlForEmbedding)
    </h2>

    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>@video.id</dd>

        <dt>Title:</dt>
        <dd>@video.title</dd>

        <dt>Date Last Asked for</dt>
        <dd>
            @{video.dateLastRetrieved match {
                case Some(date) => date
                case _ => "None specified"
            }}
        </dd>
        <dt>Comments</dt>
        <dd>
            @for(comment: Comment <- video.getComments) {
                <p>@comment.text</p>
                <p><b>Sentiment Value:</b>
                   @{comment.sentimentValue match {
                       case Some(value) => value
                       case _ => "None specified"
                   }}
                </p><p>-----</p>
            }
        </dd>
    </dl>
    @* could add an `Edit` button in here, see ch02/first-sample for how *@
}
