@(video: Video)(implicit flash: play.api.mvc.Flash)

@main(video.title) {
    <h2>
        @* doesn't *need* to be called a 'tag', but that's the Java convention *@
        @tags.embeddedVideo(video.urlForEmbedding)
    </h2>

    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>@video.id</dd>

        <dt>Title:</dt>
        <dd>@video.title</dd>

        <dt>Date Last Asked for</dt>
        <dd>
            @{video.dateLastRetrieved match {
                case Some(date) => date
                case _ => "None specified"
            }}
        </dd>
        <dt>Ten First Comments</dt>
        <dd>
            @for(i <- 0 until 10 if video.getComments.length > i) {
                <p>@video.getComments(i).text</p>
                <p><b>Sentiment Value:</b>
                   @{video.getComments(i).sentimentValue match {
                       case Some(value) => value
                       case _ => "None specified"
                   }}
                </p><p>-----</p>
            }
        </dd>
    </dl>
    <p>
        <a class="btn btn-danger" href="@controllers.routes.Videos.delete(video.id)">
            <i class="icon-minus"></i>Delete
        </a>
    </p>
    @* see ch02/first-sample for tips on adding a true "edit" button *@
    @* I should probably add an "update" button as well *@
}
