extends layout

block content
  .row.l_left-row
    .col-md-12
      h1 public#about

  .row.l_title-container.s_title-container.l_left-row
    .col-md-12
      p This is the about page. Haven't you learnt all about this by now?
