<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
	<meta charset="UTF-8">
	<title>The Eventual PlayFramework-AngularJS-MongoDB Seed Project</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("third/bootstrap/css/bootstrap.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("third/bootstrap/css/bootstrap-theme.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
	<div role="main" class="container">
		<div class="row">
			<div class="span12">
				<h2>Celebrities</h2>
				<!-- as the route changes, the AngularJS view will be dynamically rendered and populated -->
				<div data-ng-view></div>
			</div>
		</div>
	</div>
	
	<script src="@routes.Assets.at("third/jquery/jquery-1.10.2.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("third/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("third/angularjs/angular.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("third/angularjs/angular-resource.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
</body>
</html>