@(username: Option[String], gameTitle: Option[String])(implicit request: RequestHeader)

@main(username){
     <div class="container">
        <div class="row">
            <div class="col-md-4">
                <style>
                    @*TODO move to stylesheets?*@
                    table, th, td {
                        border-collapse: collapse;
                        border: 3px solid black;
                    }
                    td, .game-cell {
                        height: 75px;
                        width:  75px;
                    }
                    .redone {
                        background-color: red
                    }
                </style>
                @gameTitle.map { title =>
                  <h2>@title</h2>
                }.getOrElse {
                    <h4>Mysteriously, no one is signed in?!</h4>
                }
                <br/>
                <table id="gameboard">
                        <!--this is where the game gets inserted-->
                </table>

                <script type="text/javascript" charset="utf-8">
                    @*TODO move to a game.scala.js file referenced from the correct 'route'*@
                    var $gameboard = $('#gameboard');
                    var gameSize = 4;
                    for (var row = 0; row < gameSize; row++) {
                        var $newRow = $('<tr></tr>');
                        $newRow.addClass('game-row');
                        $newRow.attr('id', 'row-'+row);
                        $gameboard.append($newRow);
                        for (var col = 0; col < gameSize; col++) {
                            var $newCol = $('<td></td>');
                            $newCol.addClass('game-cell');
                            $newCol.attr('id', 'row-'+row+'-col-'+col);
                            $newRow.append($newCol);
                        }
                    }
                    $('#row-1-col-2').addClass('redone');
                </script>
            </div>
        </div>
     </div>
}
