@(username: Option[String])(implicit request: RequestHeader)

@main(username) {
    <script type="text/javascript" charset="utf-8" src="@routes.Application.squareGameJs()">
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>What sayst thee?</h2><br/>
                <label>Box<br/>
                    <textarea rows="2" cols="40">Type text into this thang</textarea>
                </label>
                <p>
                    <a class="btn btn-primary" href="http://www.google.com" role="button">
                        Ooh shiny
                    </a>
                </p>
                <div id="incoming">
                    <!-- text sent from server will go here from WebSocket -->
                </div>
            </div>
        </div>
    </div>

}
