@(username: Option[String])(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>multiplayer-game</title>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="fill">
                    <div class="container">
                        <div class="navbar-header">
                            @*Not sure what this part does*@
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@routes.Application.index(username)">Websocket Chat-Room</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <form class="navbar-form navbar-right" role="form">
                                <div class="form-group">
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password (unchecked)" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">
                                    Sign in
                                </button>
                            </form>
                        </div>
                        @*TODO This will go in an IF dictating what's at the top there*@
                        @*depending on whether the user is currently signed in or not*@
                        @*<p class="pull-right">*@
                            @*Logged in as No One —*@
                            @*<a href="@routes.Application.index()">Disconnect</a>*@
                        @*</p>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <h1>Hello!</h1>
                <p>This is a simple multiplayer online game built with a bunch of poppin' techs.</p>
                <p>Whatchu no bout poppin techs?</p>
            </div>
        </div>
        @body
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr>@*Horizontal line across the page*@
                    <footer>
                        <p>
                            <b>Footer:</b>
                            <i>Because I can</i>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
