@(loggedInAs: Option[String])(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>multiplayer-game</title>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-inner">
                <div class="fill">
                    <div class="container">
                        <div class="navbar-header">
                            <!-- This creates a dropdown menu button for mobile devices, but it doesn't do anything right now -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@routes.Application.index(loggedInAs)">multiplayer-game</a>
                        </div>
                        <!-- I think collapse means this part is in the drop-down when viewed on mobile -->
                        <div class="navbar-collapse collapse">
                            @*Only show the login form if the user isn't already logged in, otw show their username*@
                            @loggedInAs.map { username =>
                                <p class="navbar-brand pull-right">
                                    Logged in as <b>@username</b> -
                                    <a class="btn btn-danger" href="@routes.Application.index(None)">Log out</a>
                                </p>
                            }.getOrElse {
                                <form class="navbar-form navbar-right" role="form" action="@routes.Application.login(None, None)">
                                    <div class="form-group">
                                        <input type="text" name="user" placeholder="Username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password (unchecked)" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-success">
                                        Sign in
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Hello!</h1>
                <p>This is a simple multiplayer online game built with a bunch of poppin' techs.</p>
                <p>Whatchu no bout poppin techs?</p>
            </div>
        </div>
        @body
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <hr>@*Horizontal line across the page*@
                    <footer>
                        <p>
                            <b>Copyright © Ethan Petuchowski 2014.</b>
                            <i>One or two writes reserved.</i>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
