@(message: String)

@main("Discussion-Center Playground") {
    <h1>@message</h1>
} {
    <script type="text/javascript" charset="utf-8">
    $(function(){
        alert("hello")
    });
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>What say?</h2>
                <p>Not much</p>
                <p>
                    <a class="btn btn-default" href="http://www.google.com" role="button">
                        Plain vanilla
                    </a>
                </p>
            </div>
        </div>
    </div>

}
