extends layout

block content
  .row.l_left-row
    .col-md-12
      h1 public#index

  .row.l_title-container.s_title-container.l_left-row
    .col-md-12
      p It frickin works! I like this Jade thing too
