@import "vendor/bootstrap.scss";
@import "gatekeeper.scss";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
  padding: 50px 0 45px;
}

#footer {
  height: 45px;
}
